.grid-container > div {
  height: 50px;
  width: 50px;
  border: 4px solid gray;
  background-color: lightgray;
  border-radius: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(22, 1fr);
  grid-template-rows: repeat(12, 1fr);
  text-align: center;
}