.startseite h1 {
  text-align: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: italic;
  font-size: 50px;
  margin: 10px 0;
}

.startseite input,
.startseite textarea {
  width: 100%;
  margin: 4px 0;
}

.button-platz {
  margin-top: 30px;
}

/* Styling für alle Modals */

.modal-backdrop {
  display: none;
}

.modal-content {
border: 8px double gray;
margin-bottom: 20%;
}

@media (max-width: 575.98px) and (orientation: portrait), (max-height: 575.98px) and (orientation: landscape) {
  .modal-dialog {
    opacity: 0.7;
  }
  .modal-title.h4 {
    font-size: 1rem;
  }
}