.Startseite {
    margin: auto;
    height: 100vh;
    min-height: 490px;
    width: 100vw;
    min-width: 1030px;
  }

.StartseiteButtons {
    border: 3px solid darkblue;
}

.modal-backdrop { background-color: transparent }

.modal-content {
border: 8px double gray;
margin-bottom: 20%;
}